@import url('../../AdminPanel/AdminPanelStyles/RemoveProduct.css');
@import url('../../AdminPanel/AdminPanelStyles/AddProduct.css');
@import url('../../AdminPanel/AdminPanelStyles/UpdateProduct.css');
@import url('../../AdminPanel/AdminPanelStyles/OneProductUpdate.css');

.admin__wrapper {
    margin: 40px 0;
    display: flex;
    justify-content: space-around;
}

.admin__wrapper button {
    width: 200px;
    height: 100px;
    font-size: 20px;
}