* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button,
input {
  cursor: pointer;
  outline: none;
  border: none;
}

body {
  font-family: 'Inter', sans-serif;
}

.line {
  content: '';
  border-bottom: 1px solid #3F4E65;
}

.container {
  max-width: 1390px;
  padding: 0 10px;
  margin: auto;
}

.vertical__line {
  content: '';
  height: 49px;
  border-left: 1px dashed #3F4E65;
}

/*HEADER*/

@import url('./components/Header/HeaderStyles/Header.css');

/*CATALOG*/

@import url('./components/pages/PagesStyles/Catalog.css');

/*PRODUCTIDITEM*/

@import url('./components/pages/PagesStyles/ProductIDItem.css');

/*BASKET*/

@import url('./components/pages/PagesStyles/Basket.css');

/*FOOTER*/

@import url('./components/Footer/FooterStyles/Footer.css');

/*ADMIN*/

@import url('./components/pages/PagesStyles/AdminPanel.css');

